{% extends "layout.html" %}
{% block content %}
<h2 class="card-title">Por favor selecciona los canales que deseas analizar:</h2>

<form action="/channels">
  <div class="container">
    <div class="row">
      {% for query in query_results %}
      <!-- si los canales son mayores que 2, accede a len()-->
      {% if query_results|length > 2 %}
        <div class="col-md-4">
      {% else %}
        <div class="col-md-6">
      {% endif %}
          <h5 class="card-title">Resultados para: "{{ query }}"</h5>
          <fieldset>
            {% for item in query_results[query]['items'] %}
            <input class="form-check-input d-none" type="radio" name="{{ query }}"
              id="radio_{{ item['snippet']['channelId'] }}" value="{{ item['snippet']['channelId'] }}">
            <label class="card card-body selectable-card mb-3" for="radio_{{ item['snippet']['channelId'] }}">
              <div class="d-flex align-items-center">
                <img src="{{ item['snippet']['thumbnails']['medium']['url'] }}" class="img-thumbnail me-3"
                  style="max-width: 100px;" alt="">
                <div>
                  <h6 class="card-title mb-0 ml-3">{{ item['snippet']['title'] }}</h6>
                </div>
              </div>
            </label>
            {% endfor %}
          </fieldset>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="mt-4">
      <input type="submit" class="btn btn-primary btn-block mb-4 py-4" value="Comparar canales!">
    </div>
</form>
{% endblock content %}

{% block styles %}
<style>
  /* Oculta los radios */
  .form-check-input {
    /* display: none; */
  }

  /* Estilo base de las tarjetas */
  .selectable-card {
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.2s ease;
  }

  /* Hover para feedback */
  .selectable-card:hover {
    border-color: #0d6efd66;
  }

  /* ✅ Tarjeta seleccionada */
  .form-check-input:checked+.selectable-card {
    border-color: #0d6efd;
    background-color: #1a6ee2;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
    color: white;
  }
</style>
{% endblock styles %}